{% extends "layout/basic.html" %}

{% block title %}
    {{current_rubric.name}}
{% endblock %}
<div>
    <a href="{% url 'index' %}">Главная</a>
    {% for rubric in rubrics %}
    <a href="{{ rubric.get_absolute_url }}">{{ rubric.name }}</a>
    {% endfor %}
    <a href="{% url 'add' %}">Добавить</a>
</div>

{% block content %}
<h2>Рубрика: {{ current_rubric.name }}</h2>
{% for bb in bbs %}
<div>
    <h2>{{ bb.title }}</h2>
    <p>{{ bb.content }}</p>
    <p>{{ bb.published|date:"d.m.Y H:m:s" }}</p>
</div>
{% endfor %}
{% endblock %}