{% extends "layout/basic.html" %}
{% block content %}
    <p>
        {% for date in date_list %}
            {{ date.year }}
        {% endfor %}
    </p>

    {% for bb in bbs %}
        <div>
            <h2><a href="{% url 'bboard:detail' pk=bb.pk %}">{{ bb.title }}</a></h2>
            <p>{{ bb.content }}</p>
            <p>
                <a href="{% url 'bboard:by_rubric' bb.rubric.pk %}">
                    {{ bb.rubric.name }}
                </a>
            </p>
            <p>{{ bb.published|date:"d.m.Y H:m:s" }}</p>
        </div>
    {% endfor %}
{% endblock %}