{% extends 'base.html' %}

{% block title %}
    Название поезда
{% endblock %}

{% block content %}

    <h1>Название поезда</h1>

    <table class="table table-striped">
        <tr>
            <th>Название</th>
            <th>Отправление</th>
            <th>Прибытие</th>
            <th>Время пути</th>
        </tr>

        <tr>
            <td>{{ train.name }}</td>
            <td>{{ train.from_city }}</td>
            <td>{{ train.to_city }}</td>
            <td>{{ train.travel_time }}</td>
        </tr>
    </table>

    <div class="row">
        <div class="col-md-4">
            <a href="{% url 'trains:home' %}">
                <button type="button" class="btn btn-light">Назад к списку</button>
            </a>
        </div>
    </div>

{% endblock %}
